<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Distribute.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Document.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Fast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Make.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0137EC9F1A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA01A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA11A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA21A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA31A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA41A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA51A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA61A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA71A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA81A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECA91A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0137ECAB1A32F9F50047E749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
